.return-home{
    margin-top: 10px;
}
.return-icon{
    margin-right: 5px;
    font-size: 20px;
    font-weight: 500;
}
.info-icon{
    font-size: 27px;
    transform: translateY(-1px);
    margin-right: 10px;
}
.name-modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.return-home a{
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
.accordion{
    padding: 50px 0;
    --bs-accordion-border-width: .5px !important;
}
.accordion-item:last-of-type .accordion-button.collapsed{
    border-radius: 0 !important;
}
.accordion span[type="header"]{
    font-size: 26px;
    font-weight: 600;
    text-decoration: underline;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.accordion-button:focus{
    box-shadow: 0 0 3px #eeeeee68 !important;
}
.accordion span[type="capital"],[type="population"],[type="region"]{
    font-size: 19px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}
.border-Country a{
    background-color: #000000e2;
    margin: 0 10px 10px 0;
    padding: 2.5px 10px;
    font-size: 16px;
    color: #fff; 
    animation: bgColor 1s infinite;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 2px;
    text-decoration: underline;
}
@keyframes bgColor {
    from {
        background: #165e92;

    }
    to {
        background-color: #4382f0;
    }
}